@import "tailwindcss";

@keyframes moveY{
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(10px); }
}
html {
    scroll-behavior: smooth;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}